html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

body {
  background: hsl(200, 70, 11);
}

.all_screem {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  align-items: center;
}

.fondo_welcome {
  background: url("https://img.goraymi.com/2018/07/12/ef111d196dcf66b3ecaa41353ceaf309_md.jpg");
  /* background: url("https://img.freepik.com/foto-gratis/banner-sitio-web-gota-agua-sobre-fondo-cristal-windows_83196-797.jpg?size=626&ext=jpg"); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 110px;
}

.loader-background {
  width: 100%;
  height: 100%;
  position: relative; /* Cambiamos de absolute a relative */
  background-color: #4943434a;
  z-index: 9999;
}

.loader {
  width: 60px;
  height: 60px;
  position: absolute; /* cambiamos de fixed a absolute */
  /* Ponemos el valor de left, bottom, right y top en 0 */
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto; /* Centramos vertical y horizontalmente */
}

.formLogin {
  /* width: 360px;
  height: 720px; */
  position: absolute; /* cambiamos de fixed a absolute */
  /* Ponemos el valor de left, bottom, right y top en 0 */
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto; /* Centramos vertical y horizontalmente */

  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.alertaInformativa {
  position: relative;
  z-index: 9999;
  margin: auto;
}

.formCrea {
  width: 360px;
  height: 720px;
  position: absolute; /* cambiamos de fixed a absolute */
  /* Ponemos el valor de left, bottom, right y top en 0 */
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto; /* Centramos vertical y horizontalmente */
}

.menuFlotante {
  width: 80%;
  height: 80%;
  position: absolute; /* cambiamos de fixed a absolute */
  /* Ponemos el valor de left, bottom, right y top en 0 */
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto; /* Centramos vertical y horizontalmente */
  z-index: 2;
}

.error404 {
  width: 60%;
  height: 60%;
  position: absolute; /* cambiamos de fixed a absolute */
  /* Ponemos el valor de left, bottom, right y top en 0 */
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto; /* Centramos vertical y horizontalmente */
}

.barraMenu {
  width: 100%;
  height: 80%;
  position: relative; /* cambiamos de fixed a absolute */
  /* Ponemos el valor de left, bottom, right y top en 0 */
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  /*margin: auto;  Centramos vertical y horizontalmente */
  z-index: 5;
}

.mapa {
  position: relative;
  z-index: 4;
}

.tituloMapa {
  position: absolute;
  top: 4.5rem;
  left: 8px;
  z-index: 3;
}

.tituloMapa h6 {
  padding: 0.2rem;
  width: 40%;
}

.search {
  position: absolute;
  top: 6rem;
  left: 8px;
  width: 100%;
  max-width: 200px;
  z-index: 3;
}

.search input {
  padding: 0.2rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 6rem;
  left: 205px;
  background: none;
  border: none;
  z-index: 3;
}

.locate img {
  width: 30px;
  cursor: pointer;
}

.grafico {
  position: absolute;
  top: 68%;
  left: 8px;
  z-index: 4;
}

.showCardExpensive {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  z-index: 5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
